---
export interface ICardProps {
    dark?: boolean
}

const { dark = false } = Astro.props as ICardProps
---

<div class={`card ${dark && 'dark'}`}>
    <slot />
</div>

<style>
    .dark {
        background: var(--color-primary);
        color: #fff
    }
</style>