<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="src/images/logo.svg" alt="" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>